<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/NhanVienController/NhanVienCRUDajax.js"></script>
<script src="~/Scripts/plugins/mustache.js"></script>
<script src="~/Scripts/plugins/Cauhinh.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>

<body>
    <div id="divSearchNV">
        <table class="table">
            <thead>
                <tr style="align-items: center">
                    <th>Mã NV</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Chức vụ</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                    <th>Thành phố</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="BangSearch">
            </tbody>
        </table>
    </div>
</body>
<script id="data-templatesearch" type="x-tmpl-mustache">
    <tr>
          <td>{{EmployeeID}}</td>
          <td>{{LastName}}</td>
          <td>{{FirstName}}</td>
          <td>{{Title}}</td>
          <td>{{BirthDate}}</td>
          <td>{{Address}}</td>
          <td>{{City}}</td>
          <td>
                <button class="btn btn-primary btn-edit" data-id="{{EmployeeID}}">Edit</button>
                <button class="btn btn-danger btn-delete" data-id="{{EmployeeID}}">Delete</button>
          </td>
      </tr>

</script>